@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* HEADER */

/* nav */

nav {
  display: flex;
  padding-top: 1.313rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.25rem;
  color: #000112;
  justify-content: center;
  align-items: center;
  height: 4.063rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000; /* Ensure it's above other elements */
}

nav > h1 {
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  line-height: normal;
}

nav > img {
  align-self: center;
}

.mobile-logo {
  align-self: flex-start;
}

.add-task-mobile {
  margin-left: 4.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
  /* opacity: 0.25; */
}

/* BOARDS */

.boards {
  background-color: #f4f7fd;
  /* min-height: calc(100vh - 4.063rem); */
  flex-grow: 1;
  margin-top: 4.063rem;
  overflow-y: hidden;
}

.columns-row {
  display: flex;
  margin-left: 0px;
}

.column {
  padding-top: 1.5rem;
  margin-left: 1rem;
  min-width: 280px;
}

.column > img {
  margin-left: 1rem;
}

.column > p {
  display: inline;
  margin-left: 0.75rem;
}

.task {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  margin-left: 1rem;
  padding: 1.44rem 1rem 1.44rem 1rem;
  width: 17.5rem;
  height: 5.5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
}

.task:hover {
  cursor: pointer;
  color: #635fc7;
}

.task > .heading-M {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task > .body-M {
  margin-top: 0.5rem;
  color: #828fa3;
}

.boards-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f7fd;
  min-height: calc(100vh - 4.063rem);
  flex-grow: 1;
}

.boards-empty > p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.boards-empty > .button-primary-L {
  margin-top: 1.563rem;
}

/* GENERAL CLASSES FROM FIGMA DESIGN */

.heading-L {
  font-size: 1.125rem;
  line-height: 1.438rem;
  color: #828fa3;
  font-weight: 700;
}

.heading-M {
  font-size: 0.938rem;
  line-height: 1.188rem;
  font-weight: 700;
}

.heading-S {
  font-size: 0.75rem;
  line-height: 0.938rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
}

.body-L {
  font-size: 0.813rem;
  line-height: 1.438rem;
  font-weight: 500;
  word-wrap: break-word;
}

.body-M {
  font-size: 0.75rem;
  line-height: 0.938rem;
  font-weight: 700;
  word-wrap: break-word;
}

.button-primary-L {
  width: 174px;
  height: 48px;
  border-radius: 24px;
  background-color: #635fc7;
  color: #fff;
  font-size: 0.938rem;
  line-height: 1.188rem;
}

.button-primary-L:hover {
  background-color: #a8a4ff;
}

.button-primary-S {
  width: 295px;
  height: 40px;
  background: #635fc7;
  border-radius: 20px;

  color: #fff;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 176.923% */

  transition: 0.3s;
}

.button-primary-S:hover {
  background: #a8a4ff;
}

.button-secondary {
  width: 295px;
  height: 40px;
  border-radius: 20px;
  background: rgba(99, 95, 199, 0.1);

  color: #635fc7;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 176.923% */

  transition: 0.3s;
}

.button-secondary:hover {
  background: rgba(99, 95, 199, 0.25);
}

/* MODAL */

.modal {
  position: fixed;
  width: 264px;
  z-index: 1040;
  top: 5rem;
  left: 3.375rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
}

.modal-content {
  flex: 1;
  overflow-y: auto;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

/* LISTING BOARDS MOBILE MODAL */

.modal-list-title {
  color: #828fa3;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 1.19rem;
}

.modal-list-board-item {
  border-radius: 0px 100px 100px 0px;
  width: 240px;
  height: 48px;
  color: #828fa3;
  font-weight: 700;
  display: flex;
  transition: 0.3s;
}

.modal-list-board-item:hover {
  background: rgba(99, 95, 199, 0.25);
  cursor: pointer;
}

.modal-list-board-item:active {
  background: #635fc7;
  color: #fff;
}

.modal-list-board-item > p {
  margin-left: 0.75rem;
}

.modal-list-board-item > img {
  padding-left: 1.5rem;
}

.modal-list-board-item > p,
img {
  display: inline;
  align-self: center;
}

.modal-list-board-add > p,
img {
  display: inline;
  align-self: center;
}

.mobile-add {
  color: #635fc7;
}

.mobile-add > img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(9%) saturate(4373%)
    hue-rotate(205deg) brightness(90%) contrast(86%);
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.modal-list-footer {
  width: 235px;
  height: 48px;
  background-color: #f4f7fd;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-switch {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ADDING BOARD MODAL */

.modal-add-board,
.modal-edit-board {
  width: 343px;
  top: 11rem;
  left: 1rem;
  border-radius: 6px;
}

.add-content {
  padding: 1.5rem;
}

.add-content > h1 {
  color: #000112;
}

.add-board-form > label {
  color: #828fa3;
  font-family: Plus Jakarta Sans;
  font-size: 0.75rem;
  margin-top: 24px;
}

.add-board-form > .button-secondary {
  margin-top: 0.75rem;
}

.add-board-form > .button-primary-S {
  margin-top: 1.5rem;
}

.form-text-input {
  width: 295px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background: #fff;
  padding-left: 1rem;
}

.add-columns {
  margin-top: 1.5rem;
}

.add-columns > p {
  color: #828fa3;
  font-family: Plus Jakarta Sans;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.add-columns > .col {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.column-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background: #fff;
  color: #000112;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
}

.column-delete {
  width: 14.849px;
  height: 14.849px;
  margin-left: 1rem;
  margin-bottom: 0.55rem;
  cursor: pointer;
}

/* MODIFY BOARD MODAL */

.modify-board {
  width: 150px;
  height: 94px;
  top: 3.6rem;
  left: 13.4rem;
  z-index: 1050;
}

.modify-board > div {
  padding: 1rem;
}

.modify-board > div > p {
  font-size: 15px;
  cursor: pointer;
}

.modify-board > div > .body-L {
  color: #828fa3;
  margin-bottom: 1rem;
}

.modify-board > div > .delete {
  color: #ea5555;
}

.ellipsis {
  cursor: pointer;
}

/* EDIT BOARD MODAL */

.modal-edit-board {
  width: 343px;
  top: 8rem;
  left: 1rem;
  border-radius: 6px;
}

/* DELETE BOARD MODAL */

.warning-delete {
  width: 343px;
  top: 8rem;
  left: 1rem;
  border-radius: 6px;
  padding: 1rem;
  max-width: 100%;
}

.warning-delete > .heading-L {
  color: #ea5555;
  font-family: Plus Jakarta Sans;
  margin-bottom: 24px;
}

.warning-delete > .body-L {
  color: #828fa3;
  font-family: Plus Jakarta Sans;
  margin-bottom: 24px;
}

.delete-button-container {
  display: flex;
  flex-direction: column;
}
.delete-button-container > button {
  border-radius: 60px;
  background: rgba(99, 95, 199, 0.1);

  color: #635fc7;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 176.923% */

  transition: 0.3s;
}

.delete-button-container > button:hover {
  background: rgba(99, 95, 199, 0.25);
}

.delete-button-container > .delete-btn {
  background: #ea5555;
  color: #fff;
  border-radius: 60px;
  margin-bottom: 1rem;

  transition: 0.3s;
}

.delete-button-container > .delete-btn:hover {
  background: #ff9898;
}

/* MISC MODAL */

/* Remove outline from all elements inside the modal when focused */
.modal *:focus {
  outline: none;
}

/* Remove outline from the modal itself when focused */
.modal:focus {
  outline: none;
}

/* Additionally, if you want to remove the outline from the ellipsis when focused */
.ellipsis:focus {
  outline: none;
}
